<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta creada</title>
</head>
<body>
    <h1 class="title">Bienvenido %s!</h1>
    <h2>Su cuenta ha sido creada con éxito</h2>
    <strong class="sub-line">Sus credenciales son:</strong> <br>
    <strong class="subTitle">Email: </strong> <span class="item"> %s </span> <br>
    <strong class="subTitle">Password: </strong> <span class="item"> %s </span> <br>
</body>
</html>
<style>
    .sub-line {
        border-bottom: 1px solid rgb(0, 14, 75);
    }
    .title {
        color: rgb(83, 91, 204);
    }
    .item {
        color: rgb(29, 38, 43);
    }

    .subTitle {
        color: #000;
    }
</style>